<h1> This is the homepage </h1>

<!-- ruby code interpolation using 
<!-- ruby code with html interpolation use  
link to the route welcome_about by also appending the word path to the end -->
<%= link_to 'About', welcome_about_path %>